<h1>{{release.releaseName}} by {{release.artistName}}</h1>
<span>{{release.releaseGenre}}</span>
<span>{{release.labelName}}</span>
<span>{{release.releaseDate}}</span>
<span>{{release.country}}</span>
<span>{{release.discogsLink}}</span>
<span>{{release.youtubeLink}}</span>
<img src="{{release.image}}">
<span>{{release.userId}}</span>
<br>
<a href="/profile/update/{{release._id}}">Update this release</a>
<br>
<a href="/profile/delete/{{release._id}}">Delete this release</a>

