<form  method="post" action="/profile/update-profile" class="form" enctype="multipart/form-data">
    <h1> Profile</h1>
    {{!-- {{currentUser.userName}}  --}}
    
    <label for="">Firstname</label>
    <input class="input" type="text" id="firstName" name="firstName" value="{{currentUser.firstName}}">

    <label for="">Lastname</label>
    <input class="input" type="text" id="lastName" name="lastName" value="{{currentUser.lastName}}">
 
    <label for="">Username</label>
    <input class="input" type="text" id="userName" name="userName" value="{{currentUser.userName}}">

    <label for="">About Me</label>
    <textarea class="input" type="text" id="aboutUser" name="aboutUser" value="{{currentUser.aboutUser}}"></textarea>

    <label for="image" class="label">Profile image</label>
    <input class="image" type="file" id="image" name="image">

    <label for="">Country</label>
    <input class="input" type="text" id="country" name="country" value="country">

    <label for="">City</label>
    <input class="input" type="text" id="city" name="city" value="city">


    <label for="email">Email</label>
    <input class="input" type="email" id="email" name="email" value="{{currentUser.email}}">


    <button type="submit" class="btn">Update Profile</button>
    <a href="/profile">Back to your profile</a>
</form>


