<form method="post" action="/profile/update-profile" class="form">
    <h1>{{currentUser.userName}} - Profil Edit</h1>
    <br>
    <hr>
    <label for="">Firstname : </label>
    <input class="input" type="text" id="firstName" name="firstName" value="{{currentUser.firstName}}">
    <br><br>
    <label for="">Lastname : </label>
    <input class="input" type="text" id="lastName" name="lastName" value="{{currentUser.lastName}}">
    <br><br>
    <label for="">Username : </label>
    <input class="input" type="text" id="userName" name="userName" value="{{currentUser.userName}}">
    <br><br>
    <label for="image" class="label">Profil image : </label>
    <input class="image" type="file" id="image" name="image">
    <br><br>
    <label for="">Country : </label>
    <input class="input" type="text" id="country" name="country" placeholder="country">
    <br><br>
    <label for="">City : </label>
    <input class="input" type="text" id="city" name="city" placeholder="city">
    <br><br>
    <hr><br>
    <label for="email"> Email : </label>
    <input class="input" type="email" id="email" name="email" value="{{currentUser.email}}">
    <br><br>
    <label for="password">Password : </label>
    <input class="input" type="password" id="password" name="password" placeholder="••••••••">
    <br><br>
    <hr>
    <button type="submit" class="btn">Update Profil</button>
</form>
<a href="/profile">Back to your profile</a>

<hr>